@import '../../../includes/styles/environment';
@import '../../../includes/styles/mixins';

@import '../includes/styles/environment';

.#{$className}-main {
    width: 100%;
    height: 100%;
    }
    .#{$className}-main-top {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        }
        .#{$className}-main-date {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 0 0 0 8px;
            box-sizing: border-box;
            }
            .#{$className}-main-date-year {
                margin: 8px 12px 0 0;
                font-size: 15px;
                cursor: pointer;

                &.small {
                    margin: 4px 10px 0 0;
                    font-size: 14px;
                    }
                }

            .#{$className}-main-date-month {
                font-size: 18px;
                cursor: pointer;

                &.small {
                    font-size: 16px;
                    }
                }

        .#{$className}-main-top-actions {
            width: 80px;
            height: 50px;
            padding: 5px 0;
            box-sizing: border-box;
            }
            .#{$className}-main-top-month-previous {
                width: 40px;
                height: 40px;
                float:  left;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                cursor: pointer;
                }

            .#{$className}-main-top-month-next {
                width: 40px;
                height: 40px;
                float:  left;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                cursor: pointer;
                }

    .#{$className}-main-bottom {
        width: 100%;
        height: $unitSize * 7;

        &.small {
            height: $unitSizeSmall * 7;
            }
        }
        .#{$className}-main-week-names-container {
            width: 100%;
            height: $unitSize;
            display: flex;
            // flex-direction: row-reverse;
            &.small {
                height: $unitSizeSmall;
                }
            }
            .#{$className}-main-week-name {
                width: $unitSize;
                height: $unitSize;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                cursor: default;

                &.small {
                    width: $unitSizeSmall;
                    height: $unitSizeSmall;
                    font-size: 11px;
                    }
                }

        .#{$className}-main-days-container {
            width: 100%;
            height: $unitSize * 6;
            overflow: hidden;

            &.small {
                height: $unitSizeSmall * 6;
                }
            }
            .#{$className}-main-days-roll {
                width: 100%;
                height: $unitSize * 15;

                &.small {
                    height: $unitSizeSmall * 15;
                    }
                }
                .#{$className}-main-days-row {
                    width: 100%;
                    height: $unitSize;
                    display: flex;
                    // flex-direction: row-reverse;

                    &.small {
                        height: $unitSizeSmall;
                        }
                    }
                    .#{$className}-main-day-item {
                        width: $unitSize;
                        height: $unitSize;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: 16px;
                        border-radius: $unitSize / 2;
                        cursor: default;

                        &.small {
                            width: $unitSizeSmall;
                            height: $unitSizeSmall;
                            font-size: 13px;
                            border-radius: $unitSizeSmall / 2;
                            }
                        }
