@import '../../../includes/styles/environment';
@import '../../../includes/styles/mixins';

@import '../includes/styles/environment';

.#{$className}-month-picker {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 6px;
    box-sizing: border-box;
    }
    .#{$className}-month-picker-row {
        flex: 1;
        display: flex;
        // flex-direction: row-reverse;
        }
        .#{$className}-month-picker-cell {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 6px;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            @include transition(all 0.1s ease);

            &.small {
                font-size: 13px;
                }
            }
