@import '../../../includes/styles/environment';
@import '../../../includes/styles/mixins';

@import '../includes/styles/environment';

.#{$className}-year-picker {
    width: 100%;
    height: 100%;
    padding: 6px;
    box-sizing: border-box;
    overflow: auto;
    }
    .#{$className}-year-picker-item {
        width: 100%;
        height: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        cursor: pointer;
        border-radius: 8px;
        @include transition(all 0.1s ease);

        &.small {
            height: 36px;
            font-size: 16px;
            }
        }
