@import '../../includes/styles/environment';
@import '../../includes/styles/mixins';

@import './includes/styles/environment';

.#{$className} {
    width: 210px;
    height: 36px;
    position: relative;
    padding: 0 8px;
    border: solid 1px $colorRed;
    border-radius: 8px;
    box-sizing: border-box;

    input {
        width: 100%;
        height: 100%;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        }
    }
