@import '../../includes/styles/environment';
@import '../../includes/styles/mixins';

@import './includes/styles/environment';

.#{$className} {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    }
